@charset "UTF-8";
body {
  font-family: "corporate-logo-ver2", 'BIZ UDGothic', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

/* 調整用スタイル */
a {
  text-decoration: none;
  list-style-type: none;
}

ul,
li {
  list-style-type: none;
}

h5 {
  color: #3838ae;
}

img {
  width: 40%;
  height: 40%;
}

a {
  list-style-type: none;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  /* height: auto !important;
    height: 100%;
    min-height: 100%; */
}

main {
  top: 100px;
  width: 100vw;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  line-height: 80px;
}

.jump {
  margin-left: 100px;
}

/* ヘッダー */
.header {
  background-color: #ff483b;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  position: relative;
}

/* ヘッダーのロゴ部分 */
.header__title {
  width: 80px;
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */
.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #fff;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.nav-items {
  position: absolute;
  width: 200%;
  top: 15%;
  left: -50%;
}

/* ナビのリンク */
.nav-items__item a {
  display: block;
  margin-bottom: 50px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: relative;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #ff483b;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -21px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  background-color: #ff483b;
}

main {
  /*top*/
  /*開催*/
  /*交通アクセス*/
}

main p {
  color: #fff;
}

main h2 img {
  width: 80%;
  height: auto;
}

main .keybizyu {
  width: 100%;
  height: auto;
}

main .sc1 {
  background-color: #ff483b;
}

@media screen and (max-width: 600px) {
  main .sc2 #kyogi {
        grid-template-areas: "a b" "c c";
  }
  main .sc2 #main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  main .sc2 #side {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  main .sc2 #atto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: c;
  }
}

main .sc3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, #ff483b), to(#ff483b));
  background: linear-gradient(180deg, #fff 0%, #fff 50%, #ff483b 50%, #ff483b 100%);
}

main .sc3 .tokyodome {
  position: relative;
}

main .sc3 .doom {
  width: 100%;
  height: 100%;
}

main .sc3 .DomeMap {
  position: absolute;
  width: 80%;
  height: auto;
  right: 13%;
  top: 18%;
}

main .sc3 .readmore1 {
  position: absolute;
  width: 30%;
  height: auto;
  right: 35%;
  top: 70%;
}

main .sc4 {
  background-color: #ff483b;
}

main .sc4 .googlemap {
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

main .sc5 {
  background-color: #3838ae;
}

main .sc5 dl img {
  width: 100%;
  height: auto;
  margin: 10% 0;
}

main .sc5 dd {
  color: #fff;
  font-size: 200%;
}

main .sc5 .corona {
  position: relative;
}

main .sc5 .corona dt {
  width: 100%;
  height: auto;
  margin-right: 30%;
}

main .sc5 .corona dd {
  position: absolute;
  margin-left: 20%;
  top: 80%;
}

main .sc5 .domekaisai {
  position: relative;
}

main .sc5 .domekaisai dt {
  width: 80%;
  height: auto;
  margin-left: 30%;
}

main .sc5 .domekaisai dd {
  position: absolute;
  margin-left: 20%;
  top: 80%;
}

main .sc5 .netyusyo {
  position: relative;
}

main .sc5 .netyusyo dt {
  width: 80%;
  margin-right: 30%;
}

main .sc5 .netyusyo dd {
  position: absolute;
  margin-left: 40%;
  top: 80%;
}

main .sc6 {
  margin-bottom: 25%;
}

main .sc6 .mesegi {
  position: relative;
}

main .sc6 .mess {
  position: absolute;
  overflow: scroll;
  color: #000;
  font-size: 20px;
  width: 80%;
  height: 50%;
  line-height: 40px;
  top: 30%;
  left: 10%;
}

main .sc6 ::-webkit-scrollbar {
  display: none;
}

main .sc6 #hukidasi1 {
  width: 100%;
  height: 100%;
}

main .sc6 #hukidasi2 {
  width: 100%;
  height: 100%;
}

main .sc6 .mega {
  width: 30%;
  height: auto;
}

main .kaisaigaiyo table {
  margin: 0;
  border: solid 5px;
  border-color: #ff483b;
}

main .kaisaigaiyo th {
  background-color: #ff483b;
  /* 背景色指定 */
  color: #fff;
  font-size: 120%;
  height: 30px;
  font-weight: bold;
}

main .irobetuannai .iro {
  margin: 0;
  width: 80%;
}

main .irobetuannai .irobetu {
  padding: 0;
  border: solid 5px #ff483b;
  margin-bottom: 24px;
}

main .irobetuannai .ao {
  color: #3838ae;
  font-size: 120%;
}

main .irobetuannai .aka {
  color: #ff483b;
  font-size: 120%;
}

main .irobetuannai .siro {
  color: #000;
  font-size: 120%;
}

main .irobetuannai .ki {
  color: #ffc300;
  font-size: 120%;
}

main h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ff483b;
  margin: 30px 0;
}

main h4 {
  font-size: 40px;
  font-weight: bold;
  color: #ff483b;
  margin: 30px 0;
}

main .googlemap {
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

main .garttizu {
  width: 90%;
  height: auto;
  margin-bottom: 25%;
}
/*# sourceMappingURL=base.css.map */