body {
  font-family: "corporate-logo-ver2", 'BIZ UDGothic', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

/* 調整用スタイル */

a {
  text-decoration: none;
  list-style-type: none;
}

ul,
li {
  list-style-type: none;
}

h5 {
  color: #3838ae;
}

img {
  width: 40%;
  height: 40%;
}

h2 img {
  width: 50%;
  height: auto;
}

.doom {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}


.container {
  position: relative;
  width: 100%;
  /* height: auto !important;
  height: 100%;
  min-height: 100%; */
}
main {
  width: 100vw;
}
p {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 100px;
}


.jump {
  margin-left: 100px;
}


/* ヘッダー */


.header {
  background-color: #ff483b;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}


/* ヘッダーのロゴ部分 */
.header__title {
  width: 80px;
}




.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
}


.nav-items {
  position: absolute;
  width: 200%;
  top: 15%;
  left: -50%;
}





/* ナビのリンク */
.nav-items__item a {
  display: block;
  margin-bottom: 50px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}


/* ハンバーガーメニュー */

.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}


/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
  background-color: #ff483b;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -21px;
  transform: rotate(-45deg);
}
footer{
  background-color: #ff483b;
}


/*
main {
  background-color: #f1f1f1;
  height: 800px;
  display: flex;
  margin: 0 auto;
  padding: auto;
}




footer {
  width: 100%; height: 60px;
  background-color: #ff483b;
  position: absolute;
  bottom: 0;

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}*/