@charset "UTF-8";
body {
  font-family: "corporate-logo-ver2", 'BIZ UDGothic', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

/* 調整用スタイル */
a {
  text-decoration: none;
  list-style-type: none;
}

ul,
li {
  list-style-type: none;
}

h4 {
  font-size: 150%;
  line-height: 150%;
}

h5 {
  color: #3838ae;
}

img {
  width: 40%;
  height: 40%;
}

a {
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  position: relative;
  width: 100%;
  /* height: auto !important;
    height: 100%;
    min-height: 100%; */
}

.daimei {
  margin: auto;
  padding: 100px 0 15% 0;
  width: 80%;
  height: auto;
}

p {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  line-height: 80px;
}

html {
  scroll-behavior: smooth;
}

.read {
  width: 50%;
  padding: 20px 0 30px;
}

.jump {
  display: block;
  width: 20%;
  height: auto;
  padding-top: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  opacity: 1;
  right: 20px;
  z-index: 10000;
}

/* ヘッダー */
.header {
  background-color: #ff483b;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  position: relative;
}

/* ヘッダーのロゴ部分 */
.header__title {
  width: 80px;
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */
.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
  background-color: #fff;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.nav-items {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
}

.nav-items img {
  width: 80%;
  height: auto;
}

/* ナビのリンク */
.nav-items__item a {
  display: block;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: relative;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: #ff483b;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -21px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

footer {
  background-color: #ff483b;
}

main {
  top: 200px;
  width: 100%;
}

#mtop {
  /*top*/
}

#mtop h2 img {
  width: 80%;
  height: auto;
}

#mtop .keybizyu {
  width: 100%;
  height: auto;
}

#mtop .sc1 {
  background-color: #ff483b;
}

#mtop .sc1 p {
  color: #fff;
}

#mtop .sc3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, #ff483b), to(#ff483b));
  background: linear-gradient(180deg, #fff 0%, #fff 50%, #ff483b 50%, #ff483b 100%);
}

#mtop .sc3 .tokyodome {
  position: relative;
}

#mtop .sc3 .doom {
  width: 100%;
  height: auto;
}

#mtop .sc3 .DomeMap {
  position: absolute;
  width: 80%;
  height: auto;
  right: 13%;
  top: 18%;
}

#mtop .sc3 .readmore1 {
  position: absolute;
  height: auto;
  right: 25%;
  top: 55%;
}

#mtop .sc4 {
  background-color: #ff483b;
}

#mtop .sc4 p {
  color: #fff;
}

#mtop .sc4 .googlemap {
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

#mtop .sc5 {
  background-color: #3838ae;
}

#mtop .sc5 ul img {
  margin-top: 10%;
  width: 90%;
}

#mtop .sc6 {
  margin-bottom: 25%;
}

#mtop .sc6 h4 {
  font-size: 150%;
  line-height: 150%;
}

#mtop .sc6 .mesegi {
  position: relative;
}

#mtop .sc6 .mess {
  position: absolute;
  overflow: scroll;
  color: #000;
  font-size: 100%;
  width: 80%;
  height: 50%;
  line-height: 150%;
  top: 30%;
  left: 10%;
}

#mtop .sc6 ::-webkit-scrollbar {
  display: none;
}

#mtop .sc6 #hukidasi1 {
  width: 100%;
  height: 100%;
}

#mtop .sc6 #hukidasi2 {
  width: 100%;
  height: 100%;
}

#mtop .sc6 .mega {
  width: 30%;
  height: auto;
}

#mkaisai {
  overflow: hidden;
  /*開催*/
}

#mkaisai .kaisaigaiyo table {
  width: 100%;
  border: solid 5px;
  border-color: #ff483b;
  font-weight: bold;
}

#mkaisai .kaisaigaiyo th {
  background-color: #ff483b;
  /* 背景色指定 */
  color: #fff;
  font-size: 200%;
  padding: 15px 0;
  height: 30px;
}

#mkaisai .kaisaigaiyo dt {
  font-size: 150%;
  margin: 20px 0;
  color: #ff483b;
  font-weight: bold;
}

#mkaisai .kaisaigaiyo dd {
  line-height: 200%;
}

#mkaisai .kaisaigaiyo dd a {
  color: #fff;
  background-color: #ff483b;
  padding: 5px 0;
}

#mkaisai .kaisaigaiyo dd .googlemap {
  width: 100%;
  height: auto;
}

#mkaisai .irobetuannai h4 {
  font-size: 200%;
}

#mkaisai .irobetuannai h5 {
  margin-bottom: 10px;
  font-size: 150%;
}

#mkaisai .irobetuannai .iro {
  width: 100%;
}

#mkaisai .irobetuannai .irobetu {
  border: solid 5px #ff483b;
  line-height: 150%;
  margin: 0 0 24px 0;
  padding: 0 0 10px 0;
}

#mkaisai .irobetuannai .ao {
  color: #3838ae;
  font-size: 180%;
  margin: 10px 0;
}

#mkaisai .irobetuannai .aka {
  color: #ff483b;
  font-size: 180%;
  margin: 10px 0;
}

#mkaisai .irobetuannai .siro {
  color: #000;
  font-size: 180%;
  margin: 10px 0;
}

#mkaisai .irobetuannai .ki {
  color: #ffc300;
  font-size: 180%;
  margin: 10px 0;
}

#mschedule {
  /*schedule*/
  /*タブ切り替え全体のスタイル*/
  /*タブのスタイル*/
  /*ラジオボタンを全て消す*/
  /*タブ切り替えの中身のスタイル*/
  /*選択されているタブのコンテンツのみを表示*/
  /*選択されているタブのスタイルを変える*/
}

#mschedule .daimei {
  margin-bottom: 5%;
}

#mschedule .tabs {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
}

#mschedule .tab_item {
  width: 50%;
  height: auto;
  padding: 5% 0;
  border-bottom: 3px solid #ff483b;
  background-color: #fff;
  line-height: 200%;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mschedule .tab_item:hover {
  opacity: 0.75;
}

#mschedule input[name="tab_item"] {
  display: none;
}

#mschedule .tab_content {
  display: none;
  padding: 40px 0;
  margin-bottom: 20%;
  clear: both;
  overflow: hidden;
}

#mschedule #am:checked ~ #am_content,
#mschedule #pm:checked ~ #pm_content {
  display: block;
}

#mschedule .tabs input:checked + .tab_item {
  background-color: #ff483b;
  color: #fff;
}

#mschedule dl {
  position: relative;
  font-weight: bold;
  font-size: 150%;
}

#mschedule dt {
  text-align: left;
  margin: 5% 0 2% 20%;
}

#mschedule dd {
  font-size: 120%;
  line-height: 200%;
  text-align: center;
}

#maccess {
  /*交通アクセス*/
}

#maccess h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ff483b;
  margin: 30px 0;
}

#maccess h4 {
  font-size: 40px;
  font-weight: bold;
  color: #ff483b;
  margin: 30px 0;
}

#maccess .googlemap {
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

#maccess .garttizu {
  width: 90%;
  height: auto;
  margin-bottom: 25%;
}

#mprecautions {
  font-weight: bold;
}

#mprecautions h3 {
  width: 100%;
  font-size: 200%;
  color: #ff483b;
  margin: 10% 0;
}

#mprecautions dl {
  width: 80%;
  margin: 0 10%;
}

#mprecautions dt {
  color: #3838ae;
  font-size: 180%;
  margin: 10% 0 5% 00;
}

#mprecautions dd {
  font-size: 120%;
  line-height: 180%;
}

#mprecautions #seky {
  font-size: 160%;
}

#mprecautions p {
  font-size: 120%;
  line-height: 180%;
  margin: 0 10%;
}

#mprecautions #nep {
  margin-bottom: 20%;
}

#mkyougi {
  overflow: hidden;
  font-weight: bold;
  /*ポップアップ表示**/
}

#mkyougi #ato img {
  width: 80%;
}

#mkyougi button {
  border: 2px solid #000;
  position: relative;
  font-size: 120%;
  background-color: #fff;
  margin: 0 5% 2%;
  padding: 0;
  width: 30%;
}

#mkyougi button a {
  color: #ff483b;
  font-weight: bold;
}

#mkyougi .modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#mkyougi .modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  right: 5%;
}

#mkyougi .modal__content {
  background: #fff;
  left: 45%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
}

#mkyougi .modal__content p {
  font-size: 150%;
  line-height: 200%;
}

#mkyougi .modal__content a {
  font-size: 150%;
  margin-top: 10%;
  background-color: #ff483b;
}

#mkyougi dl {
  width: 90%;
  margin: 0 5%;
  z-index: 800;
}

#mkyougi dt {
  position: relative;
  width: 100%;
}

#mkyougi dt img {
  width: 80%;
}

#mkyougi dd {
  margin-top: 10%;
  color: #fff;
  font-size: 200%;
}

#mkyougi .syumoku {
  position: relative;
  background-color: #ff483b;
  border-radius: 10px;
  margin: 10%;
  padding: 5% 0;
  z-index: 1;
}

#mdome {
  /*タブのスタイル*/
  /*ラジオボタンを全て消す*/
  /*タブ切り替えの中身のスタイル*/
  /*選択されているタブのコンテンツのみを表示*/
  /*選択されているタブのスタイルを変える*/
}

#mdome .tabs {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto;
}

#mdome .tab_item {
  width: 50%;
  height: auto;
  padding: 5% 0;
  border-bottom: 3px solid #ff483b;
  background-color: #fff;
  line-height: 200%;
  font-size: 150%;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#mdome .tab_item:hover {
  opacity: 0.75;
}

#mdome input[name="tab_item"] {
  display: none;
}

#mdome .tab_content {
  width: 100%;
  display: none;
  padding: 40px 0;
  margin-bottom: 20%;
  clear: both;
  overflow: hidden;
  line-height: 200%;
  font-size: 120%;
}

#mdome .tab_content img {
  width: 80%;
}

#mdome .tab_content h3 {
  color: #ff483b;
  margin-bottom: 2%;
}

#mdome .tab_content h4 {
  color: #3838ae;
}

#mdome #itirui:checked ~ #itirui_content,
#mdome #sibahu:checked ~ #sibahu_content {
  display: block;
}

#mdome .tabs input:checked + .tab_item {
  background-color: #ff483b;
  color: #fff;
}
/*# sourceMappingURL=base.css.map */