main {

    .sc1
{
    background-color: #ff483b;
}
.sc2{

    @media screen and (max-width: 600px) {
        #kyogi {
            grid-template-areas: "a b"
                "c c";
    
        }
    
        #main {
            grid-area: a;
        }
    
        #side {
            grid-area: b;
        }
    
        #atto {
            grid-area: c;
        }
}
}

    

.sc3 {
    background: linear-gradient(180deg, #fff 0%, #fff 50%, #ff483b 50%, #ff483b 100%);

    .tokyodome {
        position: relative;
    }

    .doom2 {
        width: 100%;
        height: 100%;
    }

    .DomeMap {
        position: absolute;
        width: 80%;
        height: auto;
        right: 13%;
        top: 18%;
    }

    .readmore1 {
        position: absolute;
        width: 30%;
        height: auto;
        right: 35%;
        top: 70%;
    }
}
.sc4 {
    background-color: #ff483b;
    .googlemap {
        margin: 0 auto;
        width: 90%;
        height: 400px;
    }

}



.sc5 {
    background-color: #3838ae;
}

.sc6 {
    margin-bottom: 25%;

    .mesegi {
        position: relative;
    }

    .mess {
        position: absolute;
        overflow: scroll;
        color: #000;
        font-size: 30px;
        width: 80%;
        height: 50%;
        line-height: 50px;
        top: 30%;
        left: 10%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #hukidasi1 {
        width: 100%;
        height: 100%;
    }

    #hukidasi2 {
        width: 100%;
        height: 100%;

    }

    .mega {
        width: 30%;
        height: auto;
    }
}
}
footer{
    background-color: #ff483b;
}
