main{
    .kaisaigaiyo{
table {
    margin: 0;
    border: solid 5px;
    border-color: #ff483b;
}

th {
    background-color: #ff483b;
    /* 背景色指定 */
    color: #fff;
    font-size: 120%;
    height: 30px;
    font-weight: bold;
}
    }
    .irobetuannai{
.iro {
    margin: 0;
    width: 80%;
}

.irobetu {
    padding: auto;
    border: solid 5px #ff483b;
    margin-bottom: 24px;
}

.ao {
    color: #3838ae;
    font-size: 120%;
}

.aka {
    color: #ff483b;
    font-size: 120%;
}

.siro {
    color: #000;
    font-size: 120%;
}

.ki {
    color: #ffc300;
    font-size: 120%;
}
}
}